# Dependabot will run on day 8 of each month at 01:26 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "26 1 8 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Garfonso"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "26 1 8 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Garfonso"
